.container{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    gap:110px;
    margin-top: 10px;
    padding-left: 70px;
}
.box{
    font-size: 20px;
}
.box>p{
    display: flex;
    justify-content: center;
    padding-right:100px;;
}
.jk{
    width: 16.5%;
    height: 162px;
}
.jk1{
    width: 28%;
    height: 214px;
}
.hj2{
    width: 26.9%;
    height: 162px;
    
}
.hj1{
    width: 74.5%;
}
.hj{
    width:74.7%;
}